<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<body>
  <h1>Online health website for W4111 project1</h1>
<h2> Cure</h2>

<div>
	{% for cure in cures%}
	<div >illness id:{{cure['i_id']}}</div>

	<div >cure time:{{cure['time']}}</div>

	<div>drugs:{{cure['drugs']}}</div>

	<div>surgery:{{cure['surgery']}}</div>
  <br/>
	{% endfor %}


<a href = '/'>return</a>

<form method="POST" action="/search_cure">
<p>
  Name of the doctor: <input type="text" name="name">  
  <input type="submit" value="Seach all cures of a doctor"></p>
</form>
