<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
<h2> Post</h2>
<div id = 'post_id'>post_id:{{post[0]['post_id']}}</div>
<br/>
<div id = 'u_id'>author:{{post[0]['name']}}</div>
<br/>
<div id = 'posttime'>post_time:{{post[0]['posttime']}}</div>
<br/>
<div id = 'subject'>post title:{{post[0]['subject']}}</div>
<br/>
<div id = 'tags'>post tags:{{post[0]['tags']}}</div>
<br/>
<div id = 'content'>post content:{{post[0]['content']}}</div>
<br/>
<a href = '/'>return</a>
</body>


</html>
